<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">

	<title>Harry Stevens</title>

	<link rel="icon" href="http://www.harryjstevens.com/img/favicon.ico?" type="image/x-icon" />

	<link rel="stylesheet" href="http://www.harryjstevens.com/css/styles.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/fonts/FontAwesome.otf" />
</head>
<body>
	<div class="header">
		<h1><a href="/ ">Harry Stevens</a></h1>
		<h2>Stories, code and graphics at <b>The Hindustan Times</b>. New Delhi, India.

			<a href="http://twitter.com/harry_stevens/">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a href="https://github.com/harrystevens">
				<i class="fa fa-github" aria-hidden="true"></i>
			</a>
			<!-- <a href="https://bl.ocks.org/HarryStevens">
				<img src="https://bl.ocks.org/favicon.png" />
			</a> -->

		</h2>
	</div>